<%- include header %>

<div class="col-sm-10">
    <h2> Welcome! admin</h2>
    <form method="post">
        <p>姓名：<input type="text" name="realname" required/></p>
        <p>毕业年份：<input type="text" name="year" required></p>
        <p>学位：<input type="text" name="position" required></p>
        <p>导师：<input type="text" name="advisor" required></p>
        <p>现工作单位：<input type="text" name="now" required></p>
        <p>职位：<input type="text" name="job" required></p>
        <p>电话/微信：<input type="text" name="phone" required></p>
        <p>邮箱：<input type="email" name="mail" required></p>
        <p>留言：<textarea name="message"></textarea> </p>
        <p>照片：<input type="file" name="photo"></p>
        <p><input type="submit" value="登录"/></p>
    </form>
</div>



<%- include footer %>