<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="renderer" content="webkit">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <base href="http://localhost:12479">
    <title>ANL星辰榜</title>

    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="css/font-awesome.min.css">
    <link rel="stylesheet" href="css/custom.css">
    <!-- HTML5 shim 和 Respond.js 是为了让 IE8 支持 HTML5 元素和媒体查询（media queries）功能 -->
    <!-- 警告：通过 file:// 协议访问页面时 Respond.js 不起作用 -->
    <!--[if lt IE 9]>
    <script src="https://cdn.jsdelivr.net/npm/html5shiv@3.7.3/dist/html5shiv.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/respond.js@1.4.2/dest/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<!--[if lte IE 7]>
<p class="chromeframe">You are using an <strong>outdated</strong> browser. Please
    <a href="http://browsehappy.com/">upgrade your browser</a>
    or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to
    improve your experience.
</p>
<![endif]-->



<div class="container">
    <nav class="navbar navbar-default" style="padding: 5px;">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header" style="text-align: center;">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/" style="color: #333; font-size: 20px;">ANL星辰榜</a>
            </div>

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav" style="font-size: 16px;">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                            <i class="fa fa-graduation-cap" aria-hidden="true"></i> 学生类别 <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">本科生</a></li>
                            <li><a href="#">硕士生</a></li>
                            <li><a href="#">博士生</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                            <i class="fa fa-user" aria-hidden="true"></i> 指导教师 <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">吴帆老师</a></li>
                            <li><a href="#">高晓沨老师</a></li>
                            <li><a href="#">孔令和老师</a></li>
                            <li><a href="#">傅洛伊老师</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa fa-calendar" aria-hidden="true"></i> 毕业时间 <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <% for (var i = 0; i < 9; i++) {%>
                                <li><a href="<%= 2019-i%>/year"><%= 2019 - i %></a></li>
                            <% } %>
                        </ul>
                    </li>
                </ul>
                <form class="navbar-form navbar-left">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="输入姓名查询">
                    </div>
                    <button type="submit" class="btn btn-default">查询</button>
                </form>
                <a class="navbar-brand" href="#" style="float: right; font-size: 16px;"><i class="fa fa-lock" aria-hidden="true"></i> 后台管理</a>
            </div>
        </div>
    </nav>

    <div class="row">
        <div class="col-sm-12">
            <!--<img class="img-responsive" src="img/banner.jpg" alt="Banner" width="100%">-->
        </div>
    </div>

    <div class="row">
        <!--<div class="col-sm-1 member-sidebar">
            <ul class="nav nav-list">
                <li class="nav-header">毕业时间</li>
                <% for (var i = 0; i < 9; i++) {%>
                    <li><a href="<%= 2019-i%>/year"><%= 2019 - i %></a></li>
                <% } %>
            </ul>
        </div>-->