.clr {
    clear: both;
}

.stu-info img {
    height: 160px !important;
    /*float: left;*/
    /*display: block;*/
}

.stu-info > a {
    display: block;
}

.stu-info h4, .stu-info h5 {
    text-align: center;
}

.year {
    text-align: center;
    padding-bottom: 20px;
}

.stu-page-year, .stu-page-advisor {
    font-size: 18px;
}

.stu-page-message {
    word-wrap:break-word;
    word-break:break-all;
    overflow: hidden;
    font-size: 16px;
}

.table-hover>tbody>tr:hover {
    background-color: #e6e6e6;
}

.col-xs-5ths, .col-sm-5ths, .col-md-5ths, .col-lg-5ths {
    position: relative;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
}
@media ( min-width : 768px) {
    .col-sm-5ths {
        width: 20%;
        float: left;
    }
}
@media ( min-width : 992px) {
    .col-md-5ths {
        width: 20%;
        float: left;
    }
}
@media ( min-width : 1200px) {
    .col-lg-5ths {
        width: 20%;
        float: left;
    }
}

.go_top {
    position: fixed;
    bottom: 14%;
    right: 50%;
    margin-right: -710px;
    width: 60px;
    height: 60px;
    display: block;
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADwAAAA8AgMAAABHkjHhAAAACVBMVEV/f3+AgID///+BmPJZAAAAY0lEQVQoz2NgYGSgADgwjCwA8y8LuoQIGj8Tlcu4CjWk2FZNQOFLrVqCws9qW4mqHdUAthUMWROQ3CO1gEEK2YCsBgY2ZANWgYxAcJlWQNTAANcCiBlwPkiKDchnHG7xNuwAAEjcEnzUYcX0AAAAAElFTkSuQmCC);
}

.hide {
    display: none;
}